@model Movie_Plus.Data.Horary

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Horary</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Time)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Time)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReservedTickets)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReservedTickets)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PriceInPoints)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PriceInPoints)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PointsForBuying)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PointsForBuying)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie_Local)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie_Local.Local_Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.KindOfMovie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.KindOfMovie)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Ranking)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Ranking)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Actors)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Actors)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Duration)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
